[contenteditable] {
  outline: none;
}
.text-field {

  --scale: calc(1 - var(--place-state) * 0.12);
  --ytrans: calc(-100% * var(--place-state));
  /* margin-top: 0.6em; */
  padding-bottom: 0.1em;
  border-bottom: 2px solid black;
}
.suggestion{
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
.placeholder {
  user-select: none;
  pointer-events: none;
  opacity: calc(1 - var(--place-state) * 0.5);
  transform-origin: 0 0;
  transform: scale(var(--scale)) translate(0, var(--ytrans));
  overflow: hidden;
  font-size: 1em;
}
.invalid .placeholder {
  color: #d43707;
}
.text-field > div {
  margin-top: 0.6em;
}
