my-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: block;
  background: white;
  opacity: var(--fade-factor);
}
my-loader svg {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  fill: none;
  transform: translate(-50%, -50%);
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.3;
  max-height: 100vh;
  max-width: 100vw;
}
